/* You can add global styles to this file, and also import other style files */
 body {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #f0f4f8, #d9e2ec);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }